* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: rgb(67, 65, 65);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parent {
  background-color: whitesmoke;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7px;
  background: linear-gradient(to left, rgb(73, 90, 79) 4px, transparent 80px),
    linear-gradient(to right, rgb(73, 90, 79) 40px, whitesmoke 40px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
}

form {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  margin: 5px;
  text-align: center;
}

.child {
  padding: 8px;
}

img {
  width: 102%;
  height: 100%;
}

input {
  padding: 7px;
  border-radius: 4px;
}

button {
  padding: 7px 14px;
  cursor: pointer;
  margin: 7px;
}

button:hover {
  background-color: green;
  color: #fff;
}
